*{
    margin: 0;
    padding: 0;
}

#head-1{
    color: blue;
    background-color: green;
}

#head-2{
    color: black;
    background-color: yellow;
}
#head-3{
    color: blue;
    background-color: black;
}
#head-4{
    color: red;
    background-color: green;
}

